@import 'tailwindcss';

@theme {
  --color-primary: #141e8c;
  --color-primary-dark: color-mix(in srgb, var(--color-primary) 80%, black);
  --color-primary-light: color-mix(in srgb, var(--color-primary) 80%, white);
  --color-on-primary: #ffffff;

  --color-success: #22c55e;
  --color-warning: #f59e0b;

  --color-error: #ef4444;
  --color-error-dark: color-mix(in srgb, var(--color-error) 80%, black);
  --color-error-light: color-mix(in srgb, var(--color-error) 20%, white);
  --color-on-error: #ffffff;

  --color-info: #3b82f6;
  --color-neutral: #64748b;

  --color-text: #334155;
  --color-text-muted: var(--color-neutral);
  --color-text-faint: color-mix(in srgb, var(--color-neutral) 70%, white);

  --color-border: color-mix(in srgb, var(--color-neutral) 35%, white);
  --color-border-light: color-mix(in srgb, var(--color-neutral) 20%, white);

  --color-background: #ffffff;

  /* Effekte */
  --color-shadow: rgba(0, 0, 0, 0.1);
}
